<div class="w-[40%] mx-auto mt-5">
  <h1 class="font-bold text-3xl text-sky-600 text-center">Tambah Daftar Piket</h1>
  <form class="flex flex-col">
    <label for="nama" class="text-lg font-semibold">Nama</label>
    <input type="text" name="nama" id="nama" class="border rounded-lg py-1 px-2 text-lg mb-3" />
    <label for="hari" class="text-lg font-semibold">Hari</label>
    <input type="text" name="hari" id="hari" class="border rounded-lg py-1 px-2 text-lg mb-3" />
    <label for="sesi" class="text-lg font-semibold">Sesi</label>
    <input type="sesi" name="sesi" id="sesi" class="border rounded-lg py-1 px-2 text-lg mb-3" />
    <button type="submit" class="py-2 px-3 rounded-lg bg-sky-600 text-white hover:bg-sky-700">Tambah</button>
  </form>
</div>
